
@{
    ViewBag.Title = "Cards";
}

    <h2>Cards Productos</h2>

    <div id="cards-productos"></div>

    <script src="~/Scripts/Benja/cards.js"></script>

















@*<div class="card-columns" style="width:90%;margin:auto;">

    <div class="card" style="max-width:259px;">
        <img class="card-img-top" src="~/images/productos/daredevil.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"> SONY - Playstation 4 c/FIFA19</h5>
            <p class="card-text">Playstation 4 | 1TB | 1 Joystick | FIFA 19</p>
            <h4 class="card-title">$ 29999,00</h4>
            <a href="#" class="btn btn-outline-primary btn-block">Agregar</a>
        </div>
    </div>

    <div class="card" style="max-width:259px;">
        <img class="card-img-top" src="~/images/productos/green-arrow.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"> SONY - Playstation 4 c/FIFA19</h5>
            <p class="card-text">Playstation 4 | 1TB | 1 Joystick | FIFA 19</p>
            <h4 class="card-title">$ 29999,00</h4>
            <a href="#" class="btn btn-outline-primary btn-block">Agregar</a>
        </div>
    </div>

    <div class="card" style="max-width:259px;">
        <img class="card-img-top" src="~/images/productos/aquaman.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"> SONY - Playstation 4 c/FIFA19</h5>
            <p class="card-text">Playstation 4 | 1TB | 1 Joystick | FIFA 19</p>
            <h4 class="card-title">$ 29999,00</h4>
            <a href="#" class="btn btn-outline-primary btn-block">Agregar</a>
        </div>
    </div>

    <br /><br />
</div>



<div class="card-columns" style="width:90%;margin:auto;">

    <div class="card" style="max-width:259px;">
        <img class="card-img-top" src="~/images/productos/daredevil.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"> SONY - Playstation 4 c/FIFA19</h5>
            <p class="card-text">Playstation 4 | 1TB | 1 Joystick | FIFA 19</p>
            <h4 class="card-title">$ 29999,00</h4>
            <a href="#" class="btn btn-outline-primary btn-block">Agregar</a>
        </div>
    </div>

  
    <div class="card" style="max-width:259px;">
        <img class="card-img-top" src="~/images/productos/aquaman.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"> SONY - Playstation 4 c/FIFA19</h5>
            <p class="card-text">Playstation 4 | 1TB | 1 Joystick | FIFA 19</p>
            <h4 class="card-title">$ 29999,00</h4>
            <a href="#" class="btn btn-outline-primary btn-block">Agregar</a>
        </div>
    </div>

    <br /><br />
</div>



<div class="card-columns" style="width:90%;margin:auto;">

    <div class="card" style="max-width:259px;">
        <img class="card-img-top" src="~/images/productos/daredevil.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"> SONY - Playstation 4 c/FIFA19</h5>
            <p class="card-text">Playstation 4 | 1TB | 1 Joystick | FIFA 19</p>
            <h4 class="card-title">$ 29999,00</h4>
            <a href="#" class="btn btn-outline-primary btn-block">Agregar</a>
        </div>
    </div>


    <br /><br />
</div>*@
