
@{
    ViewBag.Title = "Tabla";
}


@*CSS REFERENCIAS*@

<link href="~/Content/datatables.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" />


<h2>Productos</h2>


<br />
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="abrirModal(0)">Agregar</button>
<br />
<br />

@*DATATABLE*@
<div id="tabla-data"></div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar/Editar Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <table style="width:90%;margin:auto;">
                        <tr>
                            <td style="width:30%;margin:auto;"> <label for="recipient-name" class="col-form-label">Código:</label> </td>
                            <td style="width:60%;margin:auto;"> <input type="text" class="form-control" id="recipient-name" readonly> </td>
                            <td style="width:10%;margin:auto;"> <label>  </label> </td>
                        </tr>

                        <tr>

                            <td style="width:30%;margin:auto;"> <label for="recipient-name" class="col-form-label">Nombre:</label> </td>
                            <td style="width:60%;margin:auto;"> <input type="text" class="form-control" id="recipient-name"> </td>
                            <td style="width:10%;margin:auto;"> <label>  </label> </td>
                        </tr>

                        <tr>

                            <td style="width:30%;margin:auto;"> <label for="recipient-name" class="col-form-label">Descripción:</label> </td>
                            <td style="width:60%;margin:auto;">  <textarea class="form-control" id="message-text"></textarea> </td>
                            <td style="width:10%;margin:auto;"> <label> <i class="fas fa-check"></i> </label> </td>
                        </tr>

                        <tr>

                            <td style="width:30%;margin:auto;"> <label for="recipient-name" class="col-form-label">Marca:</label> </td>
                            <td style="width:60%;margin:auto;">
                                <select class="form-control" id="cboMarca" >                               
                                </select>
                            </td>
                            <td style="width:10%;margin:auto;"> <label> <i class="fas fa-check"></i> </label> </td>
                        </tr>

                        <tr>

                            <td style="width:30%;margin:auto;"> <label for="recipient-name" class="col-form-label">Precio Unitario:</label> </td>
                            <td style="width:60%;margin:auto;"> <input type="text" class="form-control" id="recipient-name"> </td>
                            <td style="width:10%;margin:auto;"> <label> <i class="fas fa-check"></i> </label> </td>
                        </tr>

                        <tr>

                            <td style="width:30%;margin:auto;"> <label for="recipient-name" class="col-form-label">Estado:</label> </td>
                            <td style="width:60%;margin:auto;">
                                <label style="width:1rem;"></label>
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Activo</label>
                            </td>
                            <td style="width:10%;margin:auto;"> <label> <i class="fas fa-check"></i> </label> </td>
                        </tr>


                    </table>

                    <div class="form-group" style="width:90%;margin:auto;">
                        <label for="exampleFormControlFile1">Imagen:</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>

@*JAVASCRIPT REFERENCIAS*@
<script src="~/Scripts/datatables.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/moment-with-locales.min.js"></script>
<script src="~/Scripts/Benja/productos.js"></script>